

h1 {
  font-size: 250%;
  color: #5E2993;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

header {
  background-image: url(images/header.jpg);
  text-align: center;
  background-size: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 30px white
}

.wrapper {
margin: 0 auto;
max-width: 960px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  padding: 1rem;
}

nav a {

  text-decoration: none;
  color: white;
}

nav {
  text-transform: uppercase;
  background-color: #7432b5;
  border: 2px solid #7432b5;
}

nav a:hover {
  background-color: #3f146b;
}

h2 {
  font-size: 200%;
  color: #5E2993;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 150%;
  color: #5E2993;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

p {
  padding-left: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 15px;

}

footer {
  text-align: center;
  padding: 2em;
  background-color: #3f146b;
  color: white;
  font-size: 80%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

footer a {
  font-size: 200%;
  color: white;
  text-decoration: none;

}

footer a:hover {
  color:#cd9cff
}

.design {
  text-align: center;
}

.sponge {
  text-align: center;

}

.content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 17.3rem;
  padding-right: 17rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;

}

.paragraph {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 15rem;
  padding-right: 15rem;
  line-height: 1.4;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.stephen {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.4;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.inspo {
  display: flex;
}


  


